body {
    font-family: "Crimson Text", "Times New Romam", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1,
h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
    text-transform: uppercase;
}

h2 {
    clear: both;
}

.titulo-principal {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    border-bottom: 10px solid black;
    font-size: 60px;
}

nav a {
    text-transform: lowercase;
}

p {
    text-align: justify;
    margin: 20px 0px;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
}

.icones-sociais li {
    display: inline-block;
}

.icones-sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -9999px;
    /* Que técnica horrível */
}

.github {
    background-image: url(../img/github.png);
}

.twitter {
    background-image: url(../img/twitter.png);
}

.linkedin {
    background-image: url(../img/linkedin.png);
}

.social-rodape {
    margin: 60px;
}

#rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

nav a {
    color: #F2FFFC;
}

main {
    float: left;
    width: 85%;
}

main a {
    color: #851944;
}

aside {
    box-sizing: border-box;
    width: 15%;
    position: relative;
    top: 310px;
}

aside,
.foto-joao {
    float: right;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

.foto-joao {
    position: absolute;
    top: 0;
    right: 0;
}

blockquote,
aside,
footer {
    padding: 20px;
}

footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.conteudo-center {
    width: 720px;
    padding: 30px 0;
    margin: auto;
    padding-bottom: 80px;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h2 {
    font-size: 30px;
}