body {
    font-family: "Crimson Text", "Times New Romam", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1,
h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

p {
    text-align: justify;
}

main div {
    width: 720px;
    margin: auto;
}

main h1 {
    background-color: #851944;
    color: #FFF;
    text-align: center;
    padding: 25px;
    margin: 0px;
    border-bottom: 10px solid black;
}

main a {
    color: #851944;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

blockquote {
    background-color: #D9E5E3;
    padding: 20px;
    border: 10px solid #C2CCCA;
    border-bottom-color: #333;
    border-right-color: #fff;
    width: 250px;
    margin: 0px;
    box-sizing: border-box;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

nav a {
    color: #F2FFFC;
}
